doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/registrarse.css')
    title Registre Banc del Temps
  body
    .encabezado
      img(src='./imatges/logo.png', alt='logo', width='120', height='120')
      h1.titol Banc del Temps
    h1 Registra&apos;t
    form(action='/desa')
      label(for='usuari') Usuari:
      input(type='text', name='nom', required='')
      label(for='pass') Contrasenya:
      input(type='password', name='password', required='')
      input(type='submit', value='Registrarse')
      a(href='login') Login